{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load django_bootstrap5%}
      {% bootstrap_css %}
      {% bootstrap_javascript %}

      <link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" />
      <script src="https://unpkg.com/leaflet-gesture-handling"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
      <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>{% block title %}Homify{% endblock title %}</title>

  </head>

  <body class="d-flex flex-column min-vh-100">
    
    {% include 'navigation.html' %}

    <!-- Main Content -->
    <main class="container flex-grow-1" style="padding-top: 90px;">
      {% block content %}{% endblock content %}
    </main>

    <!-- Footer -->
    {% include 'page_footer.html' %}


  </body>
</html>
