 <!-- Footer -->
  <footer class="footer bg-dark text-white py-4 px-0 mt-5">
    <div class="container text-center">
      <h5 class="fw-bold mb-2">Homira</h5>
      <p class="small mb-2">Your Dream House at your fingertips</p>

      <div>
        <a href="{% url 'homepage' %}" class="text-white text-decoration-none me-3">Home</a>
        <a href="{% url 'contact_page' %}" class="text-white text-decoration-none me-3">Contact</a>
        <a href="https://www.facebook.com/topmapsolutions" class="text-white text-decoration-none me-3">Facebook</a>
      </div>

      <div class="small text-light mt-2">
        &copy; {% now "Y" %} Homira. All rights reserved.
      </div>
    </div>
  </footer>