{% extends 'base_v2.html' %} 
{% load static %} 

{% block title %} Homira | All Listings{% endblock title %}

{% block content %}


<!-- content -->
<div class="p-0">
  <div class="row" id="search-panel">
      {% include 'listings/listings_search_panel.html' %}
  </div>


  <div class="row g-0">
    <!-- LEFT: Map -->
    <div class="col-12 col-md-6 p-0" id="map" style="background-color: black;"> </div>

    <!-- RIGHT: Property Cards -->
    <div
      class="col-12 col-md-6 p-3 d-flex flex-column"
      id="sidebar"
    >
      <div class="text-left px-3 pt-1">
        <p class="fs-6 text-sm">
          <!-- populate -->
          Available properties: <strong>  <span id="available-properties"></span> unit/s</strong> 
         
        </p>
      </div>


      <div class="container">
          <div class="row row-cols-1 row-cols-md-2 g-3 mx-auto" id="property-list">
              <!-- JS will populate property cards here -->
          </div>
      </div>
      {% include 'page_footer.html' %}

    </div>
  </div>
</div>

<style>
  /* Resize card images */
  .property-card-img {
    height: 200px;
    object-fit: cover;
  }

  /* Hover effect for cards */
  .property-card:hover {
    transform: translateY(-3px);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  /* Full-height map and sidebar */
  #map{
      height: calc(91.5vh - var(--navbar-height));
      position: relative;
  }

  /* Sidebar scroll if content is taller than viewport */
  #sidebar {
    height: calc(91.5vh - var(--navbar-height));
    overflow-y: auto;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/functions/filter.js' %}"></script>

<script src="{% static 'js/map/publicMap.js' %}"></script>

{% endblock content %}
